.orders-list-container {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.orders-list-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
}

.orders-search-input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th,
.orders-table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
}

.orders-table th {
    background-color: #f3f3f3;
}

.view-detail-button {
    padding: 0.4rem 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.view-detail-button:hover {
    background-color: #0056b3;
}

.orders-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.back-dashboard-button {
    background-color: #777;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.back-dashboard-button:hover {
    background-color: #555;
}


.status-active {
    color: green;
    font-weight: bold;
}

.status-inactive {
    color: red;
    font-weight: bold;
}

.status-cancelled {
    color: gray;
    font-weight: bold;
}

.cancel-button {
    padding: 0.4rem 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    margin-left: 0.5rem;
}

.cancel-button:hover {
    background-color: #a71d2a;
}