.card {
  background-color: #ffffff; 
  color: rgb(107, 78, 38);
  padding: 16px;
  box-sizing: border-box; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  border: 1px solid #000000;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.4;
  /* Limitar a 2 líneas de texto */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-brand {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #666;
}

/* estilo del boton */
.card-button {
  background: #ffffff;
  color: #000000;
  padding: 8px 16px;
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 14px;
  margin: 0 auto;
  display: block;
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s;
}

.card-button:hover {
  color: #ffffff;
}

.card-button::after {
  content: '';
  background-color: black;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.card-button:hover::after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}